<%- include('./layout/header') %>
<div class="container mt-5">
  <h2>Liên hệ</h2>
  <p>Địa chỉ: Gò Vấp, TP.HCM</p>
  <p>Điện thoại: 0123456789</p>
  <p>Email: info@dogily.com</p>
  <!-- v.v. -->
</div>
<%- include('./layout/footer') %>
